<nav class="navbar mb-5 is-primary" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="https://bulma.io">
      <img src="./assets/airline-icon.png" alt="zero g airlines"/>
    </a>
    <div class="is-align-content-center mr-4">Zero G Airlines</div>
    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>
  <div class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item" *ngFor="let item of nav" [routerLink]="item.link" routerLinkActive="active"
         [routerLinkActiveOptions]="{exact: true}">{{ item.name }}</a>
    </div>
  </div>
</nav>

<div class="container pb-5">
  <router-outlet></router-outlet>
</div>
