.header-card {
  background: url("../../../../assets/airline-icon.png"), url("../../../../assets/airport.jpeg");
  background-attachment: inherit;
  background-size: 15%, 100%;
  background-position: -25px 31px, 0 -285px;
  background-repeat: no-repeat;

  h1{
    text-shadow: 0 1px 2px #000;
  }
}
